<div class="jumbotron"
    style="text-align: center; height: 500; width: 1000; margin: auto;">
    <h4 style="color: black;">Register New User</h4><br>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <input class="form-control"
            style="width: 200; display: inline-block; margain: 0 auto;"
            type="text" formControlName="username" placeholder="Username" />
            <br><br>
        <input class="form-control"
            style="width: 200; display: inline-block; margain: 0 auto;"
            type="password" formControlName="password" placeholder="Password"/>
            <br><br>
        <input class="form-control"
            style="width: 200; display: inline-block; margain: 0 auto;"
            type="text" formControlName="email" placeholder="E-mail"/><br><br>
    <input type="submit" name="submit" class="btn btn-info" value="Sign Up"/>
    <br><br>
    </form>
    <form routerLink="/">
        <input type="submit" name="return" class="btn btn-info" value="Return"/>
    </form>
</div>