<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <strong class="nav-link">
            Welcome, {{currentUser.username}}!
          <span class="sr-only">(current)</span>
        </strong>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="">
          Logout<span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
<br>
<div style="text-align: center; padding: 20 20; margain: auto;">
  <div class="jumbotron" style="text-align: center; max-width: 50rem;">
    <div class="card-header">
        <h5 style="text-align: left; color: black;">{{ selectedPost.subject }}<br>by {{selectedPost.poster}}</h5>
    </div>
    <div class="card-body">
      <h6 style="text-align: left; color: black;">{{ selectedPost.content }}</h6>
    </div>
  </div>
  <div style="text-align: left">
    <form routerLink="/forum">
      <input type="submit" class="btn btn-primary" value="Return"/>
    </form>
    <form routerLink="/reply">
      <input type="submit" class="btn btn-warning" value="Reply"/>
    </form>
  </div>
</div>
